/* You can add global styles to this file, and also import other style files */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  font-size: 120%;
  background-color: #898989;
  color: white;
  -webkit-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.11);
  box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.11);
  width: 160px;
}

.nav-tabs>li>a{
  font-size: 120%;
  -webkit-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.11);
  box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.11);
  color: #1f003e;
  width: 160px;
}


.my-background{
  background-color: rgba(76, 73, 87, 0.98);
}

h1,h2,h3,.modal-header h2{
  font-family: "Oswald Regular";
}

.icon-button{
  border: none;
  background-color: transparent;
}


.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 8px;
  pointer-events: none;
  color: #999999;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.theme-green .bs-datepicker-head {
  background-color: #9c27b0;
}

.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #9c27b0;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #9c27b0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #9c27b0;
  border-color: #9c27b0;
}

.pagination>li>a, .pagination>li>span{
  color: #9c27b0;
}

body{
  /*background: linear-gradient(#000000,#000000,#000000);*/
  background-image: url("assets/img/loginbackground.gif");
  background-attachment: fixed;
}
