<div class="my-background">
<div *ngIf="user">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Borrowed Books</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group inner-addon left-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input (keyup)="onKey($event)" type="text" class="form-control" name="searchText" [(ngModel)]="searchText.enteredText" placeholder="Search by book details/ student details...">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->

    </div>

    <div class="row">
      <pagination [totalItems]="pagesNumber" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
    </div>

    <div class="row">
      <div class="row center">
        <div *ngIf="books==''">
          <p>No search result found</p>
        </div>

      </div>
      <div *ngFor="let book of books; let i = index" class="list-group">
        <a class="list-group-item">
          <div class="media col-md-3">
            <figure class="pull-left center my-image">
              <img class="img-responsive" src="http://covers.openlibrary.org/b/isbn/{{books[i].isbn}}.jpg" alt="No cover" />
            </figure>
          </div>
          <div class="col-md-7">
            <h4 class="list-group-item-heading">{{books[i].title}}</h4>
            <div class="col-md-6">
              <p class="list-group-item-text">
                <br>
              <li><strong>ISBN</strong> - {{books[i].isbn}}</li>
              <li><strong>Author</strong> - {{books[i].author}}</li>
              <li><strong>Category</strong> - {{books[i].subject}}</li>

              <br>
              <li><strong>Date Added</strong> - {{books[i].copy.date_added}}h</li>
              </p>
            </div>

            <div class="col-md-6">
              <p class="list-group-item-text">
                <br>
              <li><strong>Student Name</strong> - {{books[i].student.name}}</li>
              <li><strong>Reg No</strong> - {{books[i].student.reg_no}}</li>
              <li><strong>Index No</strong> - {{books[i].student.index_no}}</li>
              <li><strong>Email</strong> - <small>{{books[i].student.email}}</small></li>
              <li><strong>Date Borrowed</strong> - {{books[i].borrowed_date}}</li>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <h2 *ngIf="books[i].fine!=null">
              <span class="label label-warning">Fine Rs.{{books[i].fine}}</span>
            </h2>
            <h2 *ngIf="books[i].fine==null">
              <small></small>
            </h2>
            <br>
            <button *ngIf="books[i].fine==null" type="button" class="btn btn-success btn-lg btn-block" (click)="onReturn(reserveBookModal,books[i])">Return Book!</button>
            <label *ngIf="books[i].fine==null"><small  style="color: green">Return before {{books[i].return_date}}</small></label>
            <button *ngIf="books[i].fine!=null" type="button" class="btn btn-danger btn-lg btn-block" (click)="onReturn(reserveBookModal,books[i])">Return Book!</button>
            <label *ngIf="books[i].fine!=null"><small  style="color: red">Overdued on {{books[i].return_date}}</small></label>
          </div>
        </a>
      </div>
      <div >
      </div>
    </div>
  </div>
</div>
</div>

<!--Model for Alert-->
<ng-template #reserveBookModal>
  <div class="my-modal">
    <div class="modal-header">
      <h2 class="modal-title pull-left">Alert</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="alertType=='Success'">
        <strong><h4 style="color: darkgreen">{{message}}</h4></strong>
      </div>
      <div *ngIf="alertType=='Error'">
        <strong><h4 style="color: #a90000">{{message}}</h4></strong>
      </div>
    </div>
  </div>
</ng-template>

