<div class="my-background">

<div *ngIf="user">


  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Books
          <button type="button" class="btn btn-primary pull-right" (click)="openModal(AddNewBook)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New
          </button>
        </h1>

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

      <div class="col-lg-6">
        <div class="input-group">
          <input (keyup)="onKeyBookSearch($event)" type="text" class="form-control" name="searchText" [(ngModel)]="searchText.enteredText" placeholder="Search by ISBN/ Title/ Author / Category...">
          <span class="input-group-btn">
        <button class="btn btn-azure" style="width: 50px" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->

    </div>

    <div class="row">
      <div class="row center">
        <p>{{message}}</p>
      </div>
      <div *ngFor="let book of books; let i = index" class="list-group">
        <a class="list-group-item">
          <div class="media col-md-3">
            <figure class="pull-left center my-image">
              <img class="img-responsive" src="http://covers.openlibrary.org/b/isbn/{{books[i].isbn}}.jpg" alt="No cover" />
            </figure>
          </div>
          <div class="col-md-6">
            <h4 class="list-group-item-heading">{{books[i].title}}</h4>
            <p class="list-group-item-text">
              <br>
            <li><strong>ISBN</strong> - {{books[i].isbn}}</li>
            <li><strong>Author</strong> - {{books[i].author}}</li>
            <li><strong>Category</strong> - {{books[i].subject}}</li>
            <br>
            <li><strong>Borrowed Copies</strong> - {{books[i].no_of_borrowed_copies}}</li>
            <li><strong>Reserved Copies</strong> - {{books[i].no_of_reserved_copies}}</li>
            </p>
          </div>
          <div class="col-md-3 text-center">
            <h2>{{books[i].no_of_available_copies}}<small> Available </small></h2>
            <div *ngIf="books[i].no_of_available_copies>0">
              <button type="button" class="btn btn-success btn-lg btn-block" (click)="onBorrow(selectStudentModal,books[i])">Borrow Now!</button>
            </div>
            <div *ngIf="books[i].no_of_available_copies<=0">
              <button type="button" class="btn btn-success btn-lg btn-block" disabled>Borrow Now!</button>
            </div>

            <div class="row pull-right" style="margin-top: 20%">
              <div class="col-md-6" style="margin-top: 2%" *ngIf="books[i].no_of_available_copies>=0">
              <button class="icon-button" (click)="openEditModal(EditCopies,books[i])" style="font-size:24px; color: forestgreen" data-toggle="tooltip" title="Edit number of copies"><i class="fa fa-edit"></i></button>
            </div>
              <div class="col-md-6" *ngIf="books[i].no_of_available_copies>=0">
                <button class="icon-button" (click)="openDeleteModal(deleteBookModal,books[i])" style="font-size:24px; color: red"  data-toggle="tooltip" title="Delete Book"><i class="fa fa-trash-o"></i></button>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div >
      </div>
    </div>

  </div>
</div>
</div>

<!--Model to add a new book-->
<ng-template #AddNewBook>
  <div class="my-modal">
    <div class="modal-header">
      <h3 class="modal-title pull-left" style="margin-left: 37%">Add New Book</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <flash-messages></flash-messages>
      <form novalidate>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">ISBN</label>
            <div class="col-md-8">
              <input class="form-control" name="isbn" type="text"  placeholder="ISBN" [(ngModel)]="book.isbn">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Title</label>
            <div class="col-md-8">
              <input class="form-control" name="title" type="text"  placeholder="Title" [(ngModel)]="book.title">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Author</label>
            <div class="col-md-8">
              <input class="form-control" name="author" type="text"  placeholder="Author" [(ngModel)]="book.author">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Subject/Category</label>
            <div class="col-md-8">
              <input class="form-control" name="subject" type="text"  placeholder="Subject/Category" [(ngModel)]="book.subject">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Number of Copies</label>
            <div class="col-md-8">
              <input class="form-control" name="no_of_copies" type="number"  placeholder="Number of Copies" [(ngModel)]="book.no_of_copies">
            </div>
          </div>
        </div>

        <div>
          <button type="button" (click)="addBookData()" class="btn btn-azure center">Add</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>


<!--Model to edit copies-->
<ng-template #EditCopies>
  <div class="my-modal">
    <div class="modal-header">
      <h3 class="modal-title pull-left" style="margin-left: 40%">Edit Copies</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <flash-messages></flash-messages>
      <form novalidate>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">ISBN</label>
            <div class="col-md-8">
              <input class="form-control" name="isbn" type="text"  placeholder="ISBN" [(ngModel)]="book.isbn" disabled>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Title</label>
            <div class="col-md-8">
              <textarea rows="2" class="form-control" name="title" type="text"  placeholder="Title" [(ngModel)]="book.title" disabled></textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Author</label>
            <div class="col-md-8">
              <input class="form-control" name="author" type="text"  placeholder="Author" [(ngModel)]="book.author" disabled>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Subject/Category</label>
            <div class="col-md-8">
              <input class="form-control" name="subject" type="text"  placeholder="Subject/Category" [(ngModel)]="book.subject" disabled>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Number of Copies</label>
            <div class="col-md-8">
              <input class="form-control" name="no_of_copies" type="number"  placeholder="Number of Copies" [(ngModel)]="book.no_of_copies">
            </div>
          </div>
        </div>

        <div>
          <button type="button" (click)="editBookData()" class="btn btn-azure center">Edit</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>


<!--Model for Alert-->
<ng-template #borrowBookModal>
  <div class="my-modal">
    <div class="modal-header">
      <h2 class="modal-title pull-left">Alert</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="alertType=='Success'">
        <strong><h4 style="color: darkgreen">{{modalMessage}}</h4></strong>
      </div>
      <div *ngIf="alertType=='Error'">
        <strong><h4 style="color: #a90000">{{modalMessage}}</h4></strong>
      </div>
    </div>
  </div>
</ng-template>

<!--Model to delete a book-->
<ng-template #deleteBookModal>
  <div class="my-modal">
    <div class="modal-header">
      <h2 class="modal-title pull-left">Alert</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4 style="color: #3b0063">Are you sure you want to delete {{book.isbn}} - {{book.title}} by {{book.author}}?</h4>
      <br>
      <div class="row">
        <div class="col-md-2"></div>
        <button  class="col-md-2 btn btn-danger"(click)="deleteBook(borrowBookModal,book)">Yes</button>
        <div class="col-md-4"></div>
        <button  class="col-md-2 btn btn-success"(click)="modalRef.hide()">No</button>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</ng-template>

<!--Model to select student -->
<ng-template #selectStudentModal>
    <div class="modal-dialog my-modal modal-lg">
        <div class="modal-header">
          <h2 class="modal-title pull-left"  style="margin-left: 37%">Select Student</h2>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <a class="list-group-item normal">
            <div class="media col-md-3">
              <figure class="pull-left center my-image">
                <img class="img-responsive" src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}.jpg" alt="No cover" />
              </figure>
            </div>
            <div class="col-md-9">
              <h4 class="list-group-item-heading">{{book.title}}</h4>
              <p class="list-group-item-text">
                <br>
              <li><strong>ISBN</strong> - {{book.isbn}}</li>
              <li><strong>Author</strong> - {{book.author}}</li>
              <li><strong>Category</strong> - {{book.subject}}</li>
              <br>
              <li><strong>Borrowed Copies</strong> - {{book.no_of_borrowed_copies}}</li>
              <li><strong>Reserved Copies</strong> - {{book.no_of_reserved_copies}}</li>
              </p>
            </div>
          </a>

          <br>
          <div class="input-group-btn">
            <input autofocus (keyup)="onKeyStudentSearch($event)" type="text" class="form-control" name="searchText.enteredTextStudent" [(ngModel)]="searchText.enteredTextStudent" placeholder="Search by Index No/ Reg No/ Name/ Email/ Phone...">
          </div>
          <br>

            <table class="table table-fixed">
              <thead>
              <tr align="center">
                <th class="col-xs-1">Index</th>
                <th class="col-xs-2">Reg No</th>
                <th class="col-xs-2">Name</th>
                <th class="col-xs-3">Email</th>
                <th class="col-xs-2">Phone</th>
                <th class="col-xs-2">Select</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of students; let i = index">
                  <td class="col-xs-1">{{student.index_no}}</td>
                  <td class="col-xs-2">{{student.reg_no}}</td>
                  <td class="col-xs-2">{{student.name}}</td>
                  <td class="col-xs-3">{{student.email}}</td>
                  <td class="col-xs-2">{{student.phone}}</td>
                  <td class="col-xs-2"><button class="btn btn-azure" (click)="onStudentSelect(borrowBookModal,student)">Select</button></td>
                </tr>
              </tbody>
            </table>
        </div>
  </div>
</ng-template>
