<div class="my-background">
<div *ngIf="user">

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Suggestions</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group inner-addon left-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input (keyup)="onKey($event)" type="text" class="form-control" name="searchText" [(ngModel)]="searchText.enteredText" placeholder="Search by book details/ student email...">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->


      <!--<div class="col-xs-8 col-xs-offset-2">
        <div class="input-group">
          <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span id="search_concept">Filter by</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#contains">Contains</a></li>
              <li><a href="#its_equal">It's equal</a></li>
              <li><a href="#greather_than">Greather than ></a></li>
              <li><a href="#less_than">Less than < </a></li>
              <li class="divider"></li>
              <li><a href="#all">Anything</a></li>
            </ul>
          </div>
          <input type="hidden" name="search_param" value="all" id="search_param">
          <input (keyup)="onKey($event)" type="text" class="form-control" name="searchText" [(ngModel)]="searchText.enteredText" placeholder="Search by ISBN/ Title/ Author / Category...">
        </div>
      </div>-->

    </div>

    <div class="row">
      <pagination [totalItems]="pagesNumber" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
    </div>

    <div class="row">
      <div class="row center">
        <div *ngIf="books==''">
          <p>No search result found</p>
        </div>

      </div>
      <div *ngFor="let book of books; let i = index" class="list-group">
        <a class="list-group-item">
          <div class="media col-md-3">
            <figure class="pull-left center my-image">
              <img class="img-responsive" src="http://covers.openlibrary.org/b/isbn/{{books[i].isbn}}.jpg" alt="No cover" />
            </figure>
          </div>
          <div class="col-md-7">
            <h4 class="list-group-item-heading">{{books[i].title}}</h4>
            <div class="col-md-8">
              <p class="list-group-item-text">
                <br>
              <li><strong>ISBN</strong> - {{books[i].isbn}}</li>
              <li><strong>Author</strong> - {{books[i].author}}</li>
              <li><strong>Category</strong> - {{books[i].subject}}</li>
              <li><strong>Date Added</strong> - {{books[i].date_added}}h</li>
              <li><strong>Email</strong> - <a (click)="viewStudentDetails(StudentDetailsModal,books[i].student_email)">{{books[i].student_email}}</a></li>
              </p>
            </div>

          </div>
          <div class="col-md-2 text-center">
            <h2>
              <small></small>
            </h2>
            <br>
            <button type="button" class="btn btn-danger btn-lg btn-block" (click)="onDismiss(reserveBookModal,books[i])">Dismiss</button>
          </div>
        </a>
      </div>
      <div >
      </div>
    </div>
  </div>
</div>
</div>

<!--Model for Alert-->
<ng-template #reserveBookModal>
  <div class="my-modal">
    <div class="modal-header">
      <h2 class="modal-title pull-left">Alert</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="alertType=='Success'">
        <strong><h4 style="color: darkgreen">{{message}}</h4></strong>
      </div>
      <div *ngIf="alertType=='Error'">
        <strong><h4 style="color: #a90000">{{message}}</h4></strong>
      </div>
    </div>
  </div>
</ng-template>

<!--Model to view student details -->
<ng-template #StudentDetailsModal>
  <div class="my-modal">
    <div class="modal-header">
      <h3 class="modal-title pull-left" style="margin-left: 37%">Student Details</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <flash-messages></flash-messages>
      <form novalidate>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Name</label>
            <div class="col-md-8">
              <input class="form-control" name="name" type="text"  placeholder="Name" [(ngModel)]="student.name" disabled>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Reg No</label>
            <div class="col-md-8">
              <input class="form-control" name="reg_no" type="text"  placeholder="Reg No" [(ngModel)]="student.reg_no" disabled>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Index No</label>
            <div class="col-md-8">
              <input class="form-control" name="index_no" type="text"  placeholder="Index No" [(ngModel)]="student.index_no" disabled>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Email</label>
            <div class="col-md-8">
              <input class="form-control" name="email" type="email"  placeholder="Email" [(ngModel)]="student.email" disabled>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Phone</label>
            <div class="col-md-8">
              <input class="form-control" name="phone" type="text"  placeholder="Contact No" [(ngModel)]="student.phone" disabled>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Address</label>
            <div class="col-md-8">
              <textarea class="form-control" name="address" type="text"  placeholder="Address" [(ngModel)]="student.address" disabled>
              </textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">NIC</label>
            <div class="col-md-8">
              <input class="form-control" name="nic" type="text"  placeholder="NIC" [(ngModel)]="student.nic" disabled>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</ng-template>
