<!--
<div id="ninja-slider">
  <div class="slider-inner">
    <ul>
      <li>
        <a class="ns-img" href="assets/img/1.jpg"></a>
        <div class="caption">RESPONSIVE</div>
      </li>
      <li>
        <a class="ns-img" href="assets/img/2.jpg"></a>
        <div class="caption">TOUCH·ENABLED</div>
      </li>
      <li>
        <a class="ns-img" href="assets/img/3.jpg"></a>
        <div class="caption">VIDEO·AUDIO</div>
      </li>
      <li>
        <a class="ns-img" href="assets/img/4.jpg"></a>
        <div class="caption">NON·JQUERY</div>
      </li>
      <li>
        <a class="ns-img" href="assets/img/5.jpg"></a>
        <div class="caption">MOBILE·FRIENDLY</div>
      </li>
    </ul>
    <div class="navsWrapper">
      <div id="ninja-slider-prev"></div>
      <div id="ninja-slider-next"></div>
    </div>
  </div>
</div>
-->
