<div class="row">
  <div id="ninja-slider">
    <div class="slider-inner">
      <ul>
        <li>
          <a class="ns-img" href="assets/img/1.jpg"></a>
          <div class="caption">W E L C O M E</div>
        </li>
        <li>
          <a class="ns-img" href="assets/img/2.jpg"></a>
          <div class="caption">50 YEARS OF EXCELLENCE</div>
        </li>
        <li>
          <a class="ns-img" href="assets/img/3.jpg"></a>
          <div class="caption">A C A D E M I C S</div>
        </li>
        <li>
          <a class="ns-img" href="assets/img/4.jpg"></a>
          <div class="caption">H I S T O R Y</div>
        </li>
        <li>
          <a class="ns-img" href="assets/img/5.jpg"></a>
          <div class="caption">M U L T I - P U R P O S E </div>
        </li>
      </ul>
      <div class="navsWrapper">
        <div id="ninja-slider-prev"></div>
        <div id="ninja-slider-next"></div>
      </div>
    </div>
  </div>
</div>



  <!-- Page Content -->
  <div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Welcome to <span class="special-font">UCSC DIGITAL LIBRARY</span>
        </h1>
      </div>
      <div class="col-md-4 main-service-box">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-tasks"></i> Reserve Online </h4>
          </div>
          <div class="panel-body">
            <p> Make your Read-list ready! Find the latest books related to vast variety
              of fields and subjects, and reserve online instantly</p>
            <a href="" class="btn btn-azure">Reserve Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 main-service-box">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-book"></i> Suggest Books </h4>
          </div>
          <div class="panel-body">
            <p>
              Are you tired of finding some book? Or your favourite book is missing?
              Let us know what you want, your suggestions are welcome!
            </p>
            <a href="" class="btn btn-azure">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 main-service-box">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-graduation-cap"></i> Specially UCSC Undergraduates </h4>
          </div>
          <div class="panel-body">
            <p>Technological books to expand your IT and Computer Science skills, specially for
              all the undergraduates in University of Colombo School of Computing</p>
            <a href="" class="btn btn-azure">Book Now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <app-latest-books-slider></app-latest-books-slider>

  </div>

  <!-- /.container -->

