<!-- Contact Us Section -->
<div>
  <div id="contact" class="row">
    <hr>
    <!-- Map Column -->
    <div class="col-md-7" style="margin-left: 5%">
      <!-- Embedded Google Map -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.904386920156!2d79.85858991431766!3d6.902036995012794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25963120b1509%3A0x2db2c18a68712863!2sUniversity+of+Colombo+School+of+Computing+(UCSC)!5e0!3m2!1sen!2slk!4v1529774022995" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- Contact Details Column -->
    <div class="col-md-4">
      <h2 class="page-header">Contact Details</h2>
      <p>
        University of Colombo School of Computing<br>
        UCSC Building Complex,<br>No:35, <br> Reid Avenue,<br>Colombo 07<br>
      </p>
      <p><i class="fa fa-phone"></i>
        <abbr title="Phone"> P</abbr>: +94-11-2581245/ 7</p>
      <p><i class="fa fa-envelope"></i>
        <abbr title="Email"> E</abbr>: <a href="mailto:hairbyaweera@yahoo.com">info@ucsc.cmb.ac.lk</a>
      </p>
      <ul class="list-unstyled list-inline list-social-icons">
        <li>
          <a href="https://www.facebook.com/UCSC.LK/"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UC0gdcqEL6ZZeT67s0IbOrHg"><i class="fa fa-youtube-square fa-2x"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/university-of-colombo-school-of-computing/"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </li>
        <li>
          <a href="https://plus.google.com/+UniversityofColomboSchoolofComputingUCSC"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </li>
      </ul>
    </div>

    <div class="row" style="margin-left: 5%;margin-top: 5%">
      <div class="col-lg-12">
        <p style="color: #1f003e">Copyright &copy; Wasura Wattearachchi 2018</p>
      </div>
    </div>
  </div>
</div>
